include ./inc/_00_data.pug

doctype html
html(lang="ja")
  head
    include ./inc/_01_tdk.pug
    include ./inc/_02_style.pug
    
  body 
    h1 hellow world
    p hellow hellow



    include ./inc/_03_script.pug